In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///bhejane.db

In [3]:
%%sql 

SELECT * FROM sqlite_master

 * sqlite:///bhejane.db
Done.

[('table', 'Products_1NF', 'Products_1NF', 68, 'CREATE TABLE Products_1NF (\n            Barcode VARCHAR(150) NOT NULL,\n            NavigationPath VARCHAR(150) NOT NULL,\n            ItemDescripti ... (391 characters truncated) ... AL,\n            Length REAL,\n            Width REAL,\n            Height REAL,\n            PRIMARY KEY (Barcode, NavigationPath, ItemDescription))'),
 ('index', 'sqlite_autoindex_Products_1NF_1', 'Products_1NF', 69, None),
 ('table', 'Transactions_2NF', 'Transactions_2NF', 70, 'CREATE TABLE "Transactions_2NF" (\n            CartID INTEGER NOT NULL,\n            Barcode VARCHAR(150) NOT NULL,\n            UserName VARCHAR(150) NOT NULL,\n            InvoiceDate DATETIME NOT NULL,\n            Total REAL NOT NULL,\n            PRIMARY KEY (CartID, Barcode))'),
 ('index', 'sqlite_autoindex_Transactions_2NF_1', 'Transactions_2NF', 71, None),
 ('table', 'Navigation_2NF', 'Navigation_2NF', 2, 'CREATE TABLE Navigation_2NF(\n            PathID INTEGER NOT NULL,\n            NavigationPath VARCHAR(150),\n            PRIMARY KEY (PathID))'),
 ('table', 'PackageContents_2NF', 'PackageContents_2NF', 3, 'CREATE TABLE PackageContents_2NF(\n            ItemID INTEGER NOT NULL,\n            ItemDescription VARCHAR(150),\n            PackType VARCHAR(150),\n            Warranty VARCHAR(150),\n            PRIMARY KEY (ItemID))'),
 ('table', 'Colours_2NF', 'Colours_2NF', 5, 'CREATE TABLE Colours_2NF(\n            ColourID INTEGER NOT NULL,\n            Colour VARCHAR(150),\n            PRIMARY KEY (ColourID))'),
 ('table', 'Products_2NF', 'Products_2NF', 6, 'CREATE TABLE Products_2NF (\n            RegistryID INTEGER NOT NULL, \n            Barcode VARCHAR(150) NOT NULL REFERENCES Transactions_2NF(Barcode ... (425 characters truncated) ...  INTEGER REFERENCES PackageContents_2NF(ItemID),\n           ColourID INTEGER REFERENCES Colours_2NF(ColourID),\n           PRIMARY KEY (RegistryID))')]

In [4]:
%%sql

DROP TABLE IF EXISTS Transactions_3NF;
DROP TABLE IF EXISTS Navigation_3NF;
DROP TABLE IF EXISTS Products_3NF;
DROP TABLE IF EXISTS Users_3NF;
DROP TABLE IF EXISTS PackageContents_3NF;
DROP TABLE IF EXISTS Colours_3NF;
DROP TABLE IF EXISTS Brands_3NF;
DROP TABLE IF EXISTS Locations_3NF;


CREATE TABLE Users_3NF(
            UserID INTEGER NOT NULL,
            UserName VARCHAR (150) NOT NULL,
            PRIMARY KEY (UserID));
            
ALTER TABLE Navigation_2NF RENAME TO Navigation_3NF;
            
ALTER TABLE PackageContents_2NF RENAME TO PackageContents_3NF;
           
ALTER TABLE Colours_2NF RENAME TO Colours_3NF;
            
            
CREATE TABLE Brands_3NF(
            BrandID INTEGER NOT NULL,
            Brand VARCHAR(150),
            PRIMARY KEY (BrandID));
            
CREATE TABLE Locations_3NF(
            LocationID INTEGER NOT NULL,
            StockCountry VARCHAR(150),
            PRIMARY KEY (LocationID));
            
CREATE TABLE Transactions_3NF (
            CartID INTEGER NOT NULL,
            Barcode VARCHAR(150) NOT NULL,
            UserID INTEGER REFERENCES Users_3NF(UserID),
            InvoiceDate DATETIME NOT NULL,
            Total REAL NOT NULL,
            PRIMARY KEY (CartID, Barcode));

            
CREATE TABLE Products_3NF (
            RegistryID INTEGER NOT NULL, 
            Barcode VARCHAR(150) NOT NULL REFERENCES Transactions_3NF(Barcode),
            ProductDescription VARCHAR(150) NOT NULL,
            Price REAL NOT NULL,
            Quantity INTEGER NOT NULL,
            Weight_kg REAL,
            Volume_litre REAL,
            Length REAL,
            Width REAL,
            Height REAL,
            PathID INTEGER REFERENCES Navigation_3NF(PathID),
            ItemID INTEGER REFERENCES PackageContents_3NF(ItemID),
           ColourID INTEGER REFERENCES Colours_3NF(ColourID),
            BrandID INTEGER REFERENCES Brands_3NF (BrandID),
            LocationID INTEGER REFERENCES Locations_3NF (LocationID),
           PRIMARY KEY (RegistryID));

 * sqlite:///bhejane.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
%%sql

INSERT INTO Users_3NF (UserName)
    SELECT DISTINCT UserName
    FROM Transactions_2NF
    WHERE UserName != ''
    ORDER BY rowid;

 * sqlite:///bhejane.db
160 rows affected.

[]

In [6]:
%%sql

INSERT INTO Brands_3NF (Brand)
    SELECT DISTINCT Brand
    FROM Products_2NF
    WHERE Brand != ''
    ORDER BY rowid;

 * sqlite:///bhejane.db
232 rows affected.

[]

In [7]:
%%sql

INSERT INTO Locations_3NF (StockCountry)
    SELECT DISTINCT StockCountry
    FROM Products_2NF
    WHERE StockCountry != ''
    ORDER BY rowid;

 * sqlite:///bhejane.db
2 rows affected.

[]

In [8]:
%%sql

INSERT INTO Transactions_3NF (CartID, Barcode, UserID, InvoiceDate, Total)
  SELECT CartID, Barcode, UserID, InvoiceDate, Total
  FROM Transactions_2NF 
  LEFT JOIN Users_3NF ON Users_3NF.Username = Transactions_2NF.UserName;

 * sqlite:///bhejane.db
278 rows affected.

[]

In [9]:
%%sql

INSERT INTO Products_3NF (Barcode,ProductDescription, Price, Quantity, Weight_kg, Volume_litre, Length, Width, Height, PathID, ItemID, ColourID, BrandID,LocationID)
SELECT Barcode,ProductDescription, Price, Quantity, Weight_kg, Volume_litre, Length, Width, Height, PathID, ItemID, ColourID,BrandID,LocationID
         FROM Products_2NF
         LEFT JOIN Brands_3NF ON Brands_3NF.Brand = Products_2NF.Brand
         LEFT JOIN Locations_3NF ON Locations_3NF.StockCountry = Products_2NF.StockCountry;

 * sqlite:///bhejane.db
1214 rows affected.

[]

In [10]:
%%sql

SELECT COUNT (DISTINCT Barcode)
FROM Products_3NF

 * sqlite:///bhejane.db
Done.

[(608,)]

In [11]:
%%sql

DROP TABLE Transactions_2NF;
DROP TABLE Products_2NF

 * sqlite:///bhejane.db
Done.
Done.

[]

In [12]:
%%sql 

SELECT * FROM sqlite_master

 * sqlite:///bhejane.db
Done.

[('table', 'Products_1NF', 'Products_1NF', 68, 'CREATE TABLE Products_1NF (\n            Barcode VARCHAR(150) NOT NULL,\n            NavigationPath VARCHAR(150) NOT NULL,\n            ItemDescripti ... (391 characters truncated) ... AL,\n            Length REAL,\n            Width REAL,\n            Height REAL,\n            PRIMARY KEY (Barcode, NavigationPath, ItemDescription))'),
 ('index', 'sqlite_autoindex_Products_1NF_1', 'Products_1NF', 69, None),
 ('table', 'Navigation_3NF', 'Navigation_3NF', 2, 'CREATE TABLE "Navigation_3NF"(\n            PathID INTEGER NOT NULL,\n            NavigationPath VARCHAR(150),\n            PRIMARY KEY (PathID))'),
 ('table', 'PackageContents_3NF', 'PackageContents_3NF', 3, 'CREATE TABLE "PackageContents_3NF"(\n            ItemID INTEGER NOT NULL,\n            ItemDescription VARCHAR(150),\n            PackType VARCHAR(150),\n            Warranty VARCHAR(150),\n            PRIMARY KEY (ItemID))'),
 ('table', 'Colours_3NF', 'Colours_3NF', 5, 'CREATE TABLE "Colours_3NF"(\n            ColourID INTEGER NOT NULL,\n            Colour VARCHAR(150),\n            PRIMARY KEY (ColourID))'),
 ('table', 'Users_3NF', 'Users_3NF', 10, 'CREATE TABLE Users_3NF(\n            UserID INTEGER NOT NULL,\n            UserName VARCHAR (150) NOT NULL,\n            PRIMARY KEY (UserID))'),
 ('table', 'Brands_3NF', 'Brands_3NF', 11, 'CREATE TABLE Brands_3NF(\n            BrandID INTEGER NOT NULL,\n            Brand VARCHAR(150),\n            PRIMARY KEY (BrandID))'),
 ('table', 'Locations_3NF', 'Locations_3NF', 12, 'CREATE TABLE Locations_3NF(\n            LocationID INTEGER NOT NULL,\n            StockCountry VARCHAR(150),\n            PRIMARY KEY (LocationID))'),
 ('table', 'Transactions_3NF', 'Transactions_3NF', 13, 'CREATE TABLE Transactions_3NF (\n            CartID INTEGER NOT NULL,\n            Barcode VARCHAR(150) NOT NULL,\n            UserID INTEGER REFERENCES Users_3NF(UserID),\n            InvoiceDate DATETIME NOT NULL,\n            Total REAL NOT NULL,\n            PRIMARY KEY (CartID, Barcode))'),
 ('index', 'sqlite_autoindex_Transactions_3NF_1', 'Transactions_3NF', 14, None),
 ('table', 'Products_3NF', 'Products_3NF', 15, 'CREATE TABLE Products_3NF (\n            RegistryID INTEGER NOT NULL, \n            Barcode VARCHAR(150) NOT NULL REFERENCES Transactions_3NF(Barcode ... (485 characters truncated) ... INTEGER REFERENCES Brands_3NF (BrandID),\n            LocationID INTEGER REFERENCES Locations_3NF (LocationID),\n           PRIMARY KEY (RegistryID))')]

In [14]:
%%sql

SELECT Count (DISTINCT Barcode)
FROM Transactions_3NF

 * sqlite:///bhejane.db
Done.

[(223,)]