In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///bhejane.db

In [3]:
%%sql 

SELECT * FROM sqlite_master

 * sqlite:///bhejane.db
Done.

[('table', 'Products_1NF', 'Products_1NF', 68, 'CREATE TABLE Products_1NF (\n            Barcode VARCHAR(150) NOT NULL,\n            NavigationPath VARCHAR(150) NOT NULL,\n            ItemDescripti ... (391 characters truncated) ... AL,\n            Length REAL,\n            Width REAL,\n            Height REAL,\n            PRIMARY KEY (Barcode, NavigationPath, ItemDescription))'),
 ('index', 'sqlite_autoindex_Products_1NF_1', 'Products_1NF', 69, None),
 ('table', 'Transactions_1NF', 'Transactions_1NF', 70, 'CREATE TABLE Transactions_1NF (\n            CartID INTEGER NOT NULL,\n            Barcode VARCHAR(150) NOT NULL,\n            UserName VARCHAR(150) NOT NULL,\n            InvoiceDate DATETIME NOT NULL,\n            Total REAL NOT NULL,\n            PRIMARY KEY (CartID, Barcode))'),
 ('index', 'sqlite_autoindex_Transactions_1NF_1', 'Transactions_1NF', 71, None)]

In [4]:
%%sql 

ALTER TABLE Transactions_1NF
RENAME TO Transactions_2NF;

CREATE TABLE Navigation_2NF(
            PathID INTEGER NOT NULL,
            NavigationPath VARCHAR(150),
            PRIMARY KEY (PathID));
             

CREATE TABLE PackageContents_2NF(
            ItemID INTEGER NOT NULL,
            ItemDescription VARCHAR(150),
            PackType VARCHAR(150),
            Warranty VARCHAR(150),
            PRIMARY KEY (ItemID));
            
CREATE TABLE Colours_2NF(
            ColourID INTEGER NOT NULL,
            Colour VARCHAR(150),
            PRIMARY KEY (ColourID));
            
 CREATE TABLE Products_2NF (
            RegistryID INTEGER NOT NULL, 
            Barcode VARCHAR(150) NOT NULL REFERENCES Transactions_2NF(Barcode),
            ProductDescription VARCHAR(150) NOT NULL,
            Brand VARCHAR(150),
            Price REAL NOT NULL,
            Quantity INTEGER NOT NULL,
            StockCountry VARCHAR(150),
            Weight_kg REAL,
            Volume_litre REAL,
            Length REAL,
            Width REAL,
            Height REAL,
            PathID INTEGER REFERENCES Navigation_2NF(PathID),
            ItemID INTEGER REFERENCES PackageContents_2NF(ItemID),
           ColourID INTEGER REFERENCES Colours_2NF(ColourID),
           PRIMARY KEY (RegistryID));

 * sqlite:///bhejane.db
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
%%sql 

INSERT INTO Navigation_2NF (NavigationPath)
    SELECT DISTINCT NavigationPath
    FROM Products_1NF
    WHERE NavigationPath != ''
    Order BY rowid;

 * sqlite:///bhejane.db
395 rows affected.

[]

In [6]:
%%sql 

INSERT INTO PackageContents_2NF(ItemDescription, PackType, Warranty)
    SELECT DISTINCT ItemDescription, PackType, Warranty
    FROM Products_1NF
    WHERE ItemDescription != ''
    ORDER BY rowid;

 * sqlite:///bhejane.db
600 rows affected.

[]

In [7]:
%%sql 

INSERT INTO Colours_2NF (Colour)
    SELECT DISTINCT Colour
    FROM Products_1NF
    WHERE Colour != ''
    ORDER BY rowid;

 * sqlite:///bhejane.db
17 rows affected.

[]

In [8]:
%%sql 

INSERT INTO Products_2NF (Barcode,ProductDescription, Brand, Price, Quantity, StockCountry, Weight_kg, Volume_litre, Length, Width, Height, PathID, ItemID, ColourID)
SELECT Barcode,ProductDescription, Brand, Price, Quantity, StockCountry, Weight_kg, Volume_litre, Length, Width, Height, PathID, ItemID, ColourID
         FROM Products_1NF as P1
         LEFT JOIN Navigation_2NF AS N2 ON N2.NavigationPath = P1.NavigationPath
        LEFT JOIN PackageContents_2NF AS PC2 ON PC2.ItemDescription = P1.ItemDescription
        LEFT JOIN Colours_2NF AS c2 ON C2.Colour = P1.Colour;

 * sqlite:///bhejane.db
1214 rows affected.

[]

In [9]:
%%sql 

SELECT * FROM sqlite_master

 * sqlite:///bhejane.db
Done.

[('table', 'Products_1NF', 'Products_1NF', 68, 'CREATE TABLE Products_1NF (\n            Barcode VARCHAR(150) NOT NULL,\n            NavigationPath VARCHAR(150) NOT NULL,\n            ItemDescripti ... (391 characters truncated) ... AL,\n            Length REAL,\n            Width REAL,\n            Height REAL,\n            PRIMARY KEY (Barcode, NavigationPath, ItemDescription))'),
 ('index', 'sqlite_autoindex_Products_1NF_1', 'Products_1NF', 69, None),
 ('table', 'Transactions_2NF', 'Transactions_2NF', 70, 'CREATE TABLE "Transactions_2NF" (\n            CartID INTEGER NOT NULL,\n            Barcode VARCHAR(150) NOT NULL,\n            UserName VARCHAR(150) NOT NULL,\n            InvoiceDate DATETIME NOT NULL,\n            Total REAL NOT NULL,\n            PRIMARY KEY (CartID, Barcode))'),
 ('index', 'sqlite_autoindex_Transactions_2NF_1', 'Transactions_2NF', 71, None),
 ('table', 'Navigation_2NF', 'Navigation_2NF', 2, 'CREATE TABLE Navigation_2NF(\n            PathID INTEGER NOT NULL,\n            NavigationPath VARCHAR(150),\n            PRIMARY KEY (PathID))'),
 ('table', 'PackageContents_2NF', 'PackageContents_2NF', 3, 'CREATE TABLE PackageContents_2NF(\n            ItemID INTEGER NOT NULL,\n            ItemDescription VARCHAR(150),\n            PackType VARCHAR(150),\n            Warranty VARCHAR(150),\n            PRIMARY KEY (ItemID))'),
 ('table', 'Colours_2NF', 'Colours_2NF', 5, 'CREATE TABLE Colours_2NF(\n            ColourID INTEGER NOT NULL,\n            Colour VARCHAR(150),\n            PRIMARY KEY (ColourID))'),
 ('table', 'Products_2NF', 'Products_2NF', 6, 'CREATE TABLE Products_2NF (\n            RegistryID INTEGER NOT NULL, \n            Barcode VARCHAR(150) NOT NULL REFERENCES Transactions_2NF(Barcode ... (425 characters truncated) ...  INTEGER REFERENCES PackageContents_2NF(ItemID),\n           ColourID INTEGER REFERENCES Colours_2NF(ColourID),\n           PRIMARY KEY (RegistryID))')]

In [10]:
%%sql 

SELECT COUNT(DISTINCT Barcode)
FROM Products_2NF

 * sqlite:///bhejane.db
Done.

[(608,)]

In [11]:
%%sql 

DROP TABLE Products_1NF;

 * sqlite:///bhejane.db
Done.

[]

In [14]:
%%sql 

SELECT COUNT (Distinct CartID)
FROM
Transactions_2NF

 * sqlite:///bhejane.db
Done.

[(192,)]